html {
  background-image: url("img/sos.png"); 
}

h2 {
  margin-top: -15px;
  text-align: center;
  font-family: Monotype Corsiva; 
  color: #70bb30;
  font-size: 250%;
}

h3 {
    border-radius: 5px;
    color: #164a20;
    display: block;
    font-family: calibri;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
}

#logo {
  width: 28%;
}

#contenedor{
  overflow: hidden;
  padding: 10px;
  margin-top: -115px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}

#dch {
  display:inline-block;
  padding: 10px;
  margin: 80px;
  float: left;
}

#iz {
  display:inline-block;
  padding: 10px;
  margin: 80px;
  float: left;
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}